<div style="background:#e8350f; color:white; padding:40px; text-align:center;">
  <h1>ANSA FUNCIONA</h1>
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "div",
  "presets": [{ "name": "Hero ANSA" }]
}
{% endschema %}